*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    /* border:1px solid red; */
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-image: url("./images/bodybg.png");
}

/*------------------------------ Tilt - Effect ------------------------------*/

.card {
    transition: transform 5ms linear;
    cursor: pointer;
    user-select: none;
  }


/*------------------------------ Section - 1 ------------------------------*/

.main-section{
    background-color: white;
    background-image: url("./images/homebg.png");
    background-position: center;
    background-size: cover;
    /* padding:0 10%; */
    height:auto;
    padding-bottom: 20px;
    position: relative;
    /* border:1px solid red; */
}

/*------ Footer-nav ------*/

#web-nav{
    height: 10%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

#web-nav .left {
    font-size: 32px;
    font-weight: bold;
}

#web-nav .middle {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white
}

#web-nav .right {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#web-nav .right .icon {
    width: 25px;
    height: 25px;
}

#web-nav .right a, #web-nav .middle a{
    letter-spacing: 1px;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#web-nav .middle a:hover {
    border-bottom: 1px solid;
    color:rgba(255, 255, 255, 1);
}

#web-nav .right a:hover {
    /* border-bottom: 1px solid; */
    color:rgba(255, 255, 255, 1);
}

/*---------Sticky Nav----------*/

#sticky-nav {
    width:100%;
    box-sizing: none;
    max-width: 1000px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top:0;
    padding:10px calc(calc(100% - 1000px) / 2);
    box-shadow: 0px 0px 10px 0px #cfcfcf;
    z-index: 6;
    transition: display 0.5s ease;
}

#sticky-nav .left{
    background-color: #6188fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding:1% 2%;
}

#sticky-nav .left img{
    object-fit: cover;
    width:100px;
}

#sticky-nav .middle {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white
}

#sticky-nav .right {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sticky-nav .right .icon {
    width: 25px;
    height: 25px;
}

#sticky-nav .right a,#sticky-nav .middle a {
    letter-spacing: 1px;
    text-decoration: none;
    color:#6188fa;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sticky-nav .middle a:hover {
    border-bottom: 1px solid;
}

/*----------Mobile Nav ----------------*/

.bar1,
.bar2,
.bar3 {
  background-color: white;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}


.wbColorBar{
    background-color: black;
}

#web-nav .hamburger {
  display: none;
}

#web-nav .hamburger:hover {
  cursor: pointer;
}


#sticky-nav .hamburger .bar1,
#sticky-nav .hamburger .bar2,
#sticky-nav .hamburger .bar3 {
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}


.stColorBar{
    background-color: white;
}

#sticky-nav .hamburger {
    display: none;
}

#sticky-nav .hamburger:hover {
    cursor: pointer;
}

#mobileNav {
  width: 80px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  right: -160px;
  padding: 16px;
  transition: transform 0.3s;
  gap:5%;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
  display: none;
}

.openDrawer {
  transform: translateX(-160px);
}

#mobileNav .middle {
    font-size: 1rem;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:3%;
}

#mobileNav .right {
    color:black;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}

#mobileNav .right .icon {
    width: 25px;
    height: 25px;
}

#mobileNav .right a,#mobileNav .middle a {
    color:black;
    text-decoration: none;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobileNav .middle a:hover {
    border-bottom: 1px solid;
}


/*------ Home - page ------*/

.home-page{
    width: 100%;
    height:auto;
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
    justify-content:flex-start;
    color:white;
    /* border:1px solid red; */
}

.home-page .title{
    width:50%;
}

.home-page .title h1{
    font-size: 3rem;
    margin-bottom: 10%;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap:20px;
}

.home-page .header-phone{
    height:auto;
    width: auto;
}


.home-page .header-phone img{
    height:100%;
    width: auto;
}

.home-page .buttons div{
    width:100px;
    padding:14px 8px;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.home-page .buttons div:hover{
    scale: 0.95;
}

.btn-1{
    background-color: #fc6944;
}

.btn-2{
    background-color: #4563c4;
}


/*------------------------------ Feature - Section ------------------------------*/
.feature-section{
    height:auto;
}

.container{
    width: 100%;
    height:auto;
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:black;
    padding: 10px;
}

.container .heading{
    margin-bottom:60px;
    text-align: center;
}

.container .heading h2{
    color:#6188fa;
    font-size: 2em;
}

.container .heading p{
    color:rgb(162, 162, 162);
}

.features{
    display: flex;
    justify-content: space-between;
    gap:3%;
}

.features .feature{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
}

.feature .feature-icon{
    color:#fa7d5a;
    font-size: 3.5rem;
}

.feature .feature-desc{
    padding-top: 5px;
}

.feature p{
    font-size: 0.8rem;
    line-height: 1.35rem;
    color:rgb(143, 143, 143);
}


/*------------------------------  Slider - section ------------------------------*/


.slider-container{
    width: 100%;
    height:auto;
    max-width: 1000px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:black;
    padding: 10px;
}

.swiper {
  width: 100%;
}

.swiper-wrapper{
    width:100%;
}

.swiper-3d {
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    background-image: none;
  }
}


/*------------------------------  Screenshots - section ------------------------------*/

.screenshots-section{
    height:auto;
}

.screenshots{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:3%;
}

.screenshots .screenshot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.screenshot .screenshot-icon{
    width:auto;
    max-height: 500px;
    color:white;
    text-align: center;
    position: relative;
}

.circle-1{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    right: -17%;
    z-index: 1;
}

.circle-2{
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border-radius: 50%;
    top: 60%;
    left: -25%;
    z-index: 1;
}

.cloudy.circle-1{
    background-color: #fcee6f;
}

.cloudy.circle-2{
    background-color: #699efa;
}

.screenshot-icon img{
    width:100%;
    max-height: 500px;
}

.verticle-text{
    font-weight: 300;
    transform: rotate(90deg);
    position: absolute;
    color: #dbdbdb;
    z-index: -1;
}


.cloudy.verticle-text{
    top: 130px;
    left: 5px;
    font-size: 9rem;
}

.screenshot-desc{
    width:50%;
    height:60%;
}

.screenshot-desc .ss-icon{
    margin-bottom: 5%;
}

.screenshot-desc h2{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
    margin-bottom: 2%;
}

.screenshot-desc p{
    font-size: 1rem;
    line-height: 1.35rem;
    color:rgb(95, 95, 95);
    font-weight:500;
    margin-bottom: 5%;
}

.temp-list{
    list-style: none;
}

.list-temp{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px dashed #ddd;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #cfcfcf;
    margin-right: -15px;
    background-color: #fff;
    position: relative;
    color:rgb(165, 165, 165);
    text-align: center;
}

.temp-list:nth-child(1){
    z-index: 2;
}

.temp-list:nth-child(2){
    z-index: 1;
}

.temp-list:nth-child(3){
    z-index: 0;
}


.sunny.circle-1{
    background-color: #f2a155;
}

.sunny.circle-2{
    background-color: #fc6944;
}

.sunny.verticle-text{
    top: 120px;
    left: 18px;
    font-size: 10rem;
}

.rainy.circle-1{
    background-color: #b6faee;
}

.rainy.circle-2{
    background-color: #7792c7;
}

.rainy.verticle-text{
    top: 120px;
    left: 15px;
    font-size: 11rem;
}


/*------------------------------  Reviewa - section ------------------------------*/
.reviews-section{
    height:auto;
}

.reviews{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    gap:15%;
}

.review{
    position: relative;;
}

#review-1{
    grid-area: "a";
}

#review-2{
    grid-area: "b";
}

#review-3{
    grid-area: "c";
}

#review-4{
    grid-area: "d";
}

.review h3{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #383a54;
    margin-bottom: 10px;
}


.review p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #3a415c;
    margin-bottom: 10px;
    position:absolute;
    left:100px;
    bottom:-10px;
}

.review::before{
    content:open-quote;
    font-size: 3.5rem;
    color:#6188fa;
    position: absolute;
    top:-35px;
    left:-15px
}

.review::after{
    content:close-quote;
    font-size: 3.5rem;
    color:#6188fa;
    position: absolute;
    bottom:-30px;
    right:50px
}

/*--------------------------- Download - Section -----------------------*/
.download-section{
    background-color: white;
    background-image: url("./images/downloadbg.png");
    background-position: center;
    background-size: cover;
    /* padding:0 10%; */
    height:auto;
    padding-top: 10%;
    /* border:1px solid red; */
}

.download-container{
    width: 100%;
    height:auto;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-top: 10px;
    gap:10%;
}

.download-page{
    width:50%;
}

.download-page h1{
    font-size: 2rem;
    line-height: 1.3rem;
    margin-bottom: 25px;
}

.download-page p{
    line-height: 1.3rem;
    margin-bottom: 20px;
}

.download-image{
    display: flex;
    align-items: flex-end;
}

.download-image img{
    height:270px;
    width: auto;
}

/*--------------------------- Footer - Section -----------------------*/

.footer-section{
    position: relative;
    z-index:6;
    background-color: #383a54;
    padding-bottom: 2%;
}

.footer-section .footerNav{
    border-bottom: 1px solid rgb(143, 143, 143);
}


.footerNav{
    height: 10%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.footerNav .left {
    font-size: 32px;
    font-weight: bold;
}

.footerNav .middle {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    flex-wrap: wrap;
}

.footerNav .right {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerNav .right .icon {
    width: 25px;
    height: 25px;
}

.footerNav .right a,.footerNav .middle a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerNav .middle a:hover {
    border-bottom: 1px solid;
    color:rgba(255, 255, 255, 1);
}

.footerNav .right a:hover {
    /* border-bottom: 1px solid; */
    color:rgba(255, 255, 255, 1);
}